<ion-view view-title="Dashboard">
    <ion-content>
        <div class="center">
            <a ui-sref="app.dashboard">
                <img src="img/logo.png">
            </a>
            <div class="container">
                <a ui-sref="app.log_data">
                    <button class="btn btn-default landing-button light-blue margin-top-40" type="button" >Log Data</button>
                </a>
                <a ui-sref="app.track_performance">
                    <button class="btn btn-default landing-button light-blue" type="button" >Track Performance</button>
                </a>
                <a ui-sref="app.fitness_plan">
                    <button class="btn btn-default landing-button light-blue" type="button" >Fitness Plan</button>
                </a>
                <a ui-sref="app.health_plan">
                    <button class="btn btn-default landing-button light-blue" type="button" >Health/ Diet Plan</button>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>