<ion-view view-title="Home">
    <ion-content>
        <div class="center title">
            <a ui-sref="app.home">
                <img src="img/logo.png">
            </a>
            <div class="container">
                <a ui-sref="app.login">
                    <button class="btn btn-default landing-button light-blue margin-top-40" type="button" >Login</button>
                </a>
                <a ui-sref="app.register">
                    <button class="btn btn-default landing-button light-blue" type="button" >Register</button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>