<ion-view view-title="Registration Complete">
    <ion-content>
        <div class="center title">
            <a ui-sref="app.home">
                <img src="img/logo.png">
            </a>
            <h1>Registration Complete</h1>

            <div class="container">
                <a ui-sref="app.select_goal">
                    <button class="btn btn-default landing-button light-blue" type="button" >Setup</button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>