<ion-view view-title="Complete Goal">
    <ion-content>
        <div class="center title">
            <a ui-sref="app.home">
                <img src="img/logo.png">
            </a>
            <h1>When would you like to complete your selected goal by?</h1>
            <div class="container">
                <a ui-sref="app.select_date">
                    <button class="btn btn-default landing-button light-blue" type="button" >Select Date</button>
                </a>

                <a ui-sref="app.review_plan">
                    <button class="btn btn-default landing-button light-blue" type="button" >Submit</button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>