<ion-view view-title="Select Goal">
    <ion-content>
        <div class="center title">
            <a ui-sref="app.home">
                <img src="img/logo.png">
            </a>
            <h1>What would you like to accomplish?</h1>

            <div class="container">
                <a ui-sref="app.complete_goal_by">
                    <button class="btn btn-default landing-button light-blue" type="button" >Eat Healthy</button>
                </a>
                <a ui-sref="app.complete_goal_by">
                    <button class="btn btn-default landing-button light-blue" type="button" >Lose Weight</button>
                </a>
                <a ui-sref="app.complete_goal_by">
                    <button class="btn btn-default landing-button light-blue" type="button" >Gain Muscle</button>
                </a>
                <a ui-sref="app.complete_goal_by">
                    <button class="btn btn-default landing-button light-blue" type="button" >Tone Muscle</button>
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>